.container-card {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 167px; 
  border: 2px solid #ccc; 
  margin-top: 20px;
  position: relative;
}

.container-card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.carrosel-fotos {
  position: relative;
  width: 250px;
  height: 200px;
}

.img-card {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.title-card {
  font-size: 20px;
  margin-top: 0px;
  margin-left: 10px;
}

.subtitle-card {
  font-weight: normal;
  margin-left: 10px;
}

.info {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  padding: 10px; 
  width: 100%;
}

.info:hover {
  cursor: pointer;
}

.valor-contato {
  display: flex;
  margin-left: 10px; 
  margin-right: 10px;
  justify-content: space-between; 
}

.valor {
  font-size: 20px;
}

.contato {
  color: #3EB489;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.contato:hover {
  cursor: pointer;
  color: #1F4E79;
}

.nav-buttons {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10; 
}

.nav-button {
  padding: 10px 15px; 
  background-color: rgba(85, 100, 95, 0.8); 
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #1F4E79;
}


/* ALUGUEL CARD PAINEL */

.action-aluguel{
  margin-top: 10px;
}

.aprovar, .deletar{
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.aprovar{
  background-color: #1F4E79;
}

.deletar{
  background-color: red;
}

.info-moderador:hover{
  cursor: auto;
}