.container-card {
  display: flex;
  flex-direction: row;
  /* width: 55%;  */
  min-width: 75%;
  height: 167px; 
  border: 2px solid #ccc; 
  margin-top: 20px;
  position: relative;
}

.carrosel-fotos {
  position: relative;
  width: 250px;
  height: 200px;
}

.img-card {
  width: 100%; /* Altera para 100% para preencher o contêiner */
  height: 100%; /* Garante que a imagem ocupe a altura do contêiner */
  object-fit: cover; /* Manter a proporção */
}

.title-card {
  font-size: 20px;
  margin-top: 0px;
  margin-left: 10px; /* Ajustado para um espaço melhor */
}

.subtitle-card {
  font-weight: normal;
  margin-left: 10px; /* Ajustado para um espaço melhor */
}

.info {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  padding: 10px; 
  width: 100%;
}

.valor-contato {
  display: flex;
  margin-left: 10px; /* Ajustado para um espaço melhor */
  margin-right: 10px; /* Ajustado para um espaço melhor */
  justify-content: space-between; 
}

.valor {
  font-size: 20px;
}

.contato {
  color: #3EB489;
  font-size: 20px;
  font-weight: bold;
}

.contato:hover {
  cursor: pointer;
  color: #1F4E79;
}

/* Estilo para os botões de navegação */
.nav-buttons {
  position: absolute; /* Permite o posicionamento dos botões dentro do carrossel */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Move os botões para o centro */
  display: flex;
  justify-content: space-between; /* Espalha os botões em lados opostos */
  width: 100%; /* Faz os botões ocuparem toda a largura */
  z-index: 10; /* Garante que os botões apareçam acima das imagens */
}

.nav-button {
  padding: 10px 15px; /* Ajuste do espaçamento interno dos botões */
  background-color: rgba(85, 100, 95, 0.8); /* Cor de fundo do botão com transparência */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.nav-button:hover {
  background-color: #1F4E79; /* Cor ao passar o mouse */
}
