.container-dados{
  width: 35vw;
  margin-top: 160px;
  box-sizing: border-box;
  padding: 0;
  background-color: rgba(31, 78, 121, 0.2);
  padding: 20px;
  border-radius: 20px;
}

.container-dados h2{
  margin-bottom: 30px;
  text-align: center;
}

.form-dados{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 20px;
}

.form-dados h4{
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.input-dados{
  all:unset;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  padding-left: 20px;
}

.sem-setas::-webkit-outer-spin-button,
.sem-setas::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sem-setas {
    -moz-appearance: textfield;
}

 .button-dados{
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #1F4E79;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
 }

 .button-dados:hover{
  background-color: #3EB489;
}

.container-dados {
  transition: filter 0.3s ease;
}

.desfocado {
  filter: blur(10px);
}
