.sobre-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

.paragrafo {
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.6;
}

.acordion{
  margin: 0 auto;
  width: 60%;
}

footer{
  position: static;
}
