.container-suporte{
  text-align: center;
}

.perguntas{
  margin-bottom: 40px;
}

.perguntas h3{
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.form{
  border-radius: 15px;
  width: 25vw;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(31, 78, 121, 0.2);
  padding: 40px;
  border-radius: 20px;
}

.form h3{
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 40px;
}

.form form{
  text-align: center;
}

.form form input{
  box-sizing: border-box;
  margin-bottom: 15px;
  font-weight: bold;
  width: 25vw;
  font-size: 16px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.form form textarea{
  box-sizing: border-box;
  margin-bottom: 15px;
  font-weight: bold;
  width: 25vw;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  resize: none;
  font-size: 16px;
  outline: none;
  height: 100px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.form form h4{
  text-align: start;
  margin: 0;
  margin-bottom: 8px;
}

.titulo-suport{
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
}

.acordion{
  width: 50vw;
  font-size: 17px;
}

.button-suport{
  width: 25vw;
  height: 40px;
  margin-top: 20px;
  background-color: #1F4E79;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.button-suport:hover{
  background-color: #3EB489;
}
