.div-footer{
  z-index: 999;
  bottom: 0;
  background-color: #1F4E79;
  height: 70px;
  justify-content: center;
}

.text-footer{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}