.div-footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1F4E79;
  height: 50px;
}

.text-footer{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}